body {
    background-color: #ADDDFF;
}

#font-face {
    font-family: scary;
    //src: url('fonts/scary.eot');
    
    src: local('scary'), url(fonts/scary.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

.center {
    position: fixed;
    font-family: scary;
    font-size: 25px;
    text-transform: uppercase;
    top: 50%;
    left: 50%;
    margin-left: -150px;
    //margin-left: -225px;
    margin-top: -16px;
    cursor: pointer;
    border: none;
    background: none;
}

/*#textBox {
    background: #808080;
    width: 600px;
    height: 200px;
    position: fixed;
    top: 55%;
    left: 40%;
    margin-left: -5%;
    margin-top: 30px;
}*/

#intro {
    font-size: 12px;
    position: fixed;
    bottom: 2%;
}