body {
    background-color: #ADDDFF;
}

#pg {
    position: fixed;
    top: 5%;
    left: 50%;
    letter-spacing: 20px;
    font-size: 33px;
    font-family: Calisto MT;
    margin-left: -224px;
}

table {
    position: absolute;
    top: 10%;
    left: 28%;
}

td {
    background: transparent;
    width: 150px;
    height: 150px;
    border-radius: 15px;
    border: 1px solid #333;
}

#footer {
    text-align: center;
    position: fixed;
    bottom:5px;
    width: 100%;
    left:0px;
    height:25px;
}