/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23-Mar-2014, 14:04:39
    Author     : Dani
*/

body {
    background-color: #ADDDFF;
}

#pg {
    position: fixed;
    top: 5%;
    left: 50%;

    letter-spacing: 20px;
    font-size: 33px;
    font-family: Calisto MT;
    margin-left: -224px;
}

/*#box {
    background-color: red;
    width: 200px;
    height: 200px;
    position: fixed;
    top: 25%;
    left: 30%;
}*/

/*div {
    background-color: red;
    width: 200px;
    height: 200px;
    position: fixed;
    top: 25%;
    left: 30%;
}*/

#circle {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    background-color: black;
}

.white {
    background-color: white;
}