/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21-Mar-2014, 18:17:40
    Author     : Dani
*/

body {
    background-color: #b4f4ff;
}

.center {
    position: fixed;
    font-family: scary;
    font-size: 25px;
    text-transform: uppercase;
    top: 50%;
    left: 40%;
    margin-left: -50px;
    margin-top: -25px;
    cursor: pointer;
    //border: none;
    background: none;
}